# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement 
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### e_commerce Schema:

### Load Required Libraries

In [2]:
!pip install mysql-connector-python
import mysql.connector;
import pandas as pd;

Requirement already satisfied: mysql-connector-python in c:\users\asus-nb\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\asus-nb\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

### Connect to DB using Mysql-connector-python package

In [3]:
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

### You are required to create a database named 'e_commerce'

In [4]:
cursorObject.execute("CREATE DATABASE e_commerce");
connection.close();

+`### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [5]:
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_creation_query ='''CREATE TABLE SUPPLIER(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10));


  CREATE TABLE CUSTOMER(CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID));


 CREATE TABLE CATEGORY(CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID));


CREATE TABLE PRODUCT(PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID));


 CREATE TABLE PRODUCT_DETAILS (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID));
  
  
CREATE TABLE ORDERS(ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID));


CREATE TABLE RATING(RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID));'''
cursorObject.execute(table_creation_query);

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- | 
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 | 
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [ ]:
# insert into "supplier" table
import mysql.connector

# Establish a connection to the MySQL server and select the 'e_commerce' database.
connection = mysql.connector.connect(host="localhost", user="root", passwd="Bhavya2501@98", database="e_commerce")
cursorObject = connection.cursor()
cursorObject.execute('ALTER TABLE `supplier` MODIFY `SUPP_PHONE` VARCHAR(20);')
# Define the SQL query to insert data into the 'supplier' table.
table_insertion_query = '''
INSERT INTO `supplier` (`SUPP_ID`, `SUPP_NAME`, `SUPP_CITY`, `SUPP_PHONE`)
VALUES
(1, 'Rajesh Retails', 'Delhi', '1234567890'),
(2, 'Appario Ltd.', 'Mumbai', '258963147032'),
(3, 'Knome products', 'Bangalore', '9785462315'),
(4, 'Bansal Retails', 'Kochi', '8975463285'),
(5, 'Mittal Ltd.', 'Lucknow', '7898456532');
'''

cursorObject.execute(table_insertion_query)

# Commit the changes to the database.
connection.commit()

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [ ]:
import mysql.connector
import pandas as pd

# Establish a connection to the MySQL server and select the 'e_commerce' database.
connection = mysql.connector.connect(host="localhost", user="root", passwd="Bhavya2501@98", database="e_commerce")
cursorObject = connection.cursor()

# Your data insertion query
table_insertion_query = '''
INSERT INTO `e_commerce`.`customer` (`CUS_ID`, `CUS_NAME`, `CUS_PHONE`, `CUS_CITY`, `CUS_GENDER`)
VALUES
(1, 'AAKASH', '9999999999', 'DELHI', 'M'),
(2, 'AMAN', '9785463215', 'NOIDA', 'M'),
(3, 'NEHA', '9999999998', 'MUMBAI', 'F'),
(4, 'MEGHA', '9994562399', 'KOLKATA', 'F'),
(5, 'PULKIT', '7895999999', 'LUCKNOW', 'M');
'''

# Execute the insertion query
cursorObject.execute(table_insertion_query)

# Commit the changes to the database
connection.commit()

#### Table:  category
| CAT_ID | CAT_NAME | 
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES | 
| 4 | ELECTRONICS | 
| 5 | CLOTHES |

In [ ]:
# insert into "categoty" table
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
INSERT INTO `e_commerce`.`category` (`CAT_ID`, `CAT_NAME`)
VALUES
(1, 'BOOKS'),
(2, 'GAMES'),
(3, 'GROCERIES'),
(4, 'ELECTRONICS'),
(5, 'CLOTHES');
'''

cursorObject.execute(table_insertion_query);

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- | 
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 | 
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [ ]:
# insert into "product" table
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
INSERT INTO `e_commerce`.`product` (`PRO_ID`, `PRO_NAME`, `PRO_DESC`, `CAT_ID`)
VALUES
(1, 'GTA V', 'DFJDJFDJFDJFDJFJF', 2),
(2, 'TSHIRT', 'DFDFJDFJDKFD', 5),
(3, 'ROG LAPTOP', 'DFNTTNTNTERND', 4),
(4, 'OATS', 'REURENTBTOTH', 3),
(5, 'HARRY POTTER', 'NBEMCTHTJTH', 1);
'''

cursorObject.execute(table_insertion_query);

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- | 
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 | 
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [ ]:

connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
INSERT INTO `e_commerce`.`product_details` (`PROD_ID`, `PRO_ID`, `SUPP_ID`, `PROD_PRICE`)
VALUES
(1, 1, 2, 1500),
(2, 3, 5, 30000),
(3, 5, 1, 3000),
(4, 2, 3, 2500),
(5, 4, 1, 1000);
'''

cursorObject.execute(table_insertion_query);

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [ ]:
# insert into "orders" table
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
INSERT INTO `e_commerce`.`orders`
(`ORD_ID`, `ORD_AMOUNT`, `ORD_DATE`, `CUS_ID`, `PROD_ID`)
VALUES
(20, 1500, '2021-10-12', 3, 5),
(25, 30500, '2021-09-16', 5, 2),
(26, 2000, '2021-10-05', 1, 1),
(30, 3500, '2021-08-16', 4, 3),
(50, 2000, '2021-10-06', 2, 1);
'''

cursorObject.execute(table_insertion_query);

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- | 
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 | 
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [ ]:
# insert into "rating" table
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
INSERT INTO `e_commerce`.`rating`
(`RAT_ID`, `CUS_ID`, `SUPP_ID`, `RAT_RATSTARS`)
VALUES
(1, 2, 2, 4),
(2, 3, 4, 3),
(3, 5, 1, 5),
(4, 1, 3, 2),
(5, 4, 5, 4);
'''

cursorObject.execute(table_insertion_query);

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT c.CUS_NAME AS customer_name, COUNT(c.CUS_NAME) AS customer_count, o.ORD_AMOUNT
FROM e_commerce.customer c
LEFT JOIN e_commerce.orders o ON c.CUS_ID = o.CUS_ID
GROUP BY c.CUS_NAME, o.ORD_AMOUNT
HAVING o.ORD_AMOUNT >= 3000;
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['NAME','COUNT','ORDER AMOUNT'])
output_df

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT o.ORD_ID, o.ORD_AMOUNT, o.ORD_DATE, p.PRO_NAME
FROM e_commerce.orders o
LEFT JOIN e_commerce.product p ON o.PROD_ID = p.PRO_ID
WHERE o.CUS_ID = 2;

'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','AMOUNT','DATE','PRODUCT NAME'])
output_df

### Q5) Display the Supplier details who can supply more than one product.

import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT a.SUPP_ID, a.SUPP_NAME, a.SUPP_CITY, a.SUPP_PHONE
FROM e_commerce.supplier a
LEFT JOIN e_commerce.product_details pro ON a.SUPP_ID = pro.SUPP_ID
GROUP BY a.SUPP_ID, a.SUPP_NAME, a.SUPP_CITY, a.SUPP_PHONE
HAVING COUNT(pro.PRO_ID) > 1;
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','NAME','CITY','PHONE'])
output_df

### Q6) Find the category of the product whose order amount is minimum.

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT  result2.CAT_NAME
FROM (
    SELECT result1.product_id, MIN(result1.order_amount) AS min_order_amount
    FROM (
        SELECT o.ORD_AMOUNT AS order_amount, product_det.PRO_ID AS product_id
        FROM e_commerce.orders o
        LEFT JOIN e_commerce.product_details product_det ON o.PROD_ID = product_det.PROD_ID
    ) AS result1
) AS min_order
LEFT JOIN (
    SELECT prod.PRO_ID AS pro_id, prod.PRO_NAME, prod.PRO_DESC, cat.CAT_NAME
    FROM e_commerce.product prod
    LEFT JOIN e_commerce.category cat ON prod.CAT_ID = cat.CAT_ID
) AS result2 ON min_order.product_id = result2.pro_id;
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['NAME'])
output_df

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT p.PRO_ID, p.PRO_NAME
FROM e_commerce.product p
LEFT JOIN (
    SELECT o.PROD_ID, o.ORD_AMOUNT AS order_amount, o.ORD_DATE AS order_date
    FROM e_commerce.orders o
    LEFT JOIN e_commerce.product_details product_det ON o.PROD_ID = product_det.PRO_ID
) AS result1 ON p.PRO_ID = result1.PROD_ID
WHERE result1.order_date > '2021-10-05';
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','NAME'])
output_df

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT sup.SUPP_ID, sup.SUPP_NAME, sup.SUPP_CITY, sup.SUPP_PHONE, result.RAT_RATSTARS, result.CUS_NAME
FROM e_commerce.supplier sup
LEFT JOIN (
    SELECT rates.RAT_ID, rates.SUPP_ID, rates.CUS_ID, rates.RAT_RATSTARS, cust.CUS_NAME
    FROM e_commerce.rating rates
    LEFT JOIN e_commerce.customer cust ON rates.CUS_ID = cust.CUS_ID
) AS result ON sup.SUPP_ID = result.SUPP_ID
ORDER BY result.RAT_RATSTARS DESC
LIMIT 3;
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','NAME','CITY','PHONE','RATING','CUSTOMER NAME'])
output_df

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT *
FROM e_commerce.customer
WHERE CUS_GENDER = 'MALE'
  AND CUS_NAME LIKE 'A%'
  AND CUS_NAME LIKE '%A';

'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','NAME','PHONE','CITY','GENDER'])
output_df

### Q10) Display the total order amount of the male customers.

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT cust.CUS_ID, cust.CUS_NAME, cust.CUS_PHONE, cust.CUS_CITY, cust.CUS_GENDER, SUM(o.ORD_AMOUNT)
FROM e_commerce.customer cust
LEFT JOIN e_commerce.orders o ON cust.CUS_ID = o.CUS_ID
GROUP BY cust.CUS_ID, cust.CUS_NAME, cust.CUS_PHONE, cust.CUS_CITY, cust.CUS_GENDER
HAVING cust.CUS_GENDER = 'MALE';
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','NAME','PHONE','CITY','GENDER','TOTAL'])
output_df

### Q11) Display all the Customers left outer join with  the orders

In [ ]:
import mysql.connector;
import pandas as pd;
connection = mysql.connector.connect(host ="localhost",user="root",passwd="Bhavya2501@98")

cursorObject = connection.cursor();

cursorObject.execute('USE e_commerce');

table_insertion_query = '''
SELECT cust.CUS_ID, cust.CUS_NAME, cust.CUS_PHONE, cust.CUS_CITY, cust.CUS_GENDER, o.ORD_ID, o.ORD_AMOUNT, o.ORD_DATE
FROM e_commerce.customer cust
LEFT OUTER JOIN e_commerce.orders o ON cust.CUS_ID = o.CUS_ID;
'''

cursorObject.execute(query);
output= cursorObj.fetchAll();
output_df = pd.DataFrame(output,columns=['ID','NAME','PHONE','CITY','GENDER','ORDER ID','ORDER AMOUNT','ORDER DATE'])
output_df

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)